@charset "utf-8"
@import 'bulma/sass/utilities/initial-variables.sass'
// your customization as described in the Bulma docs

.chatbox
    .box.content, .menu
        height: 600px
        position: relative
        .typing
            position: absolute
            width: 95%
            bottom: 10px
            left: 0
            right: 0
            margin: auto
            display: flex
            justify-content: space-between
            div:first-child
                width: 88%
    .menu
        box-shadow: 1px 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1)
        border-radius: 6px
        padding: 0 25px
.menu-label
    padding-top: 15px

#topNav
    display: block

.messageBox
    height: 90%
    .messages
        height: 82%
        overflow: scroll

@import 'bulma/bulma.sass'